<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Меню кафе</title>
</head>
<body>
    <h1>Список блюд</h1>
    <table border="1">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Категория</th>
        </tr>
        <tr th:each="menu : ${menus}">
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.description}"></td>
            <td th:text="${menu.price}"></td>
            <td th:text="${menu.category}"></td>
        </tr>
    </table>
    <a href="/menu/new">Добавить блюдо</a>
</body>
</html>